@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FRANKLIN";
  src: url("../public/fonts/FRANKLIN.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "FRANKLIN", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
